<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <title>Confirm Account Registration</title>
  </head>
  <body style="background-color:#ffffff;margin:0;padding:0">
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse:separate;width:100%">
      <tr>
        <td class="container" style="display:block;width:680px;max-width:680px;margin:0 auto;padding:60px 18px 36px 18px;box-sizing:border-box">
          <table class="main" style="border-collapse:separate;width:100%">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%">
                  <tr>
                    <td style="padding-bottom:24px;line-height:26px;font-family:'Source Sans Pro', sans-serif;font-size:28px;color:#333;font-weight:500;border-bottom:1px solid #E0E5EB"> {0} </td>
                  </tr>
                  <tr>
                    <td style="padding-top:24px;padding-bottom:32px;font-family:'Source Sans Pro', sans-serif;font-size:17px;line-height:26px;color:#333"> {1} {2}, </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:32px;font-family:'Source Sans Pro', sans-serif;font-size:17px;line-height:26px;color:#333"> {3} </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:32px"><p style="font-family:'Source Sans Pro', sans-serif;font-size:17px;line-height:26px;font-weight:700;color:#1D79F2;text-decoration:none"> {4} </p></td>
                  </tr>
                  <tr>
                    <td style="font-family:'Source Sans Pro', sans-serif;font-size:17px;line-height:26px;color:#333;font-weight:600"> {5} </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:24px;font-family:'Source Sans Pro', sans-serif;font-size:17px;line-height:26px;color:#333"> {6} </td>
                  </tr>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </td>
    </tr>
    </table>
  </body>
</html>